.infinite-list{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.infinite-list-item:hover{
    background: #fafafa;
    cursor: pointer;
}

.bill-item-title{
    font-weight: bold;
}

.bill-item-section{
    border-top: solid thin #c1c1c1;
    margin-top: 10px;
    padding-top: 10px;
    cursor: pointer;
}

.inter-bill-section{
    padding-bottom: 5px;
}

@media screen and (min-width: 700px) {
    /* For desktop phones: */
    .infinite-list-item{
        width: 600px;
        padding: 10px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        background: white;
        -moz-box-shadow:    2px 2px 2px 2px #ccc;
        -webkit-box-shadow: 2px 2px 2px 2px #ccc;
        box-shadow:         2px 2px 2px 2px #ccc;
    }
}

@media screen and (max-width: 700px) {
    /* For mobile phones: */
    .infinite-list-item{
        width: 92%;
        padding: 10px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        background: white;
        -moz-box-shadow:    2px 2px 2px 2px #ccc;
        -webkit-box-shadow: 2px 2px 2px 2px #ccc;
        box-shadow:         2px 2px 2px 2px #ccc;
    }
}

